#header {width:900px;text-align:left;margin:auto;}
#container {width:100%}
#content_main {margin:0 auto;display:table;}
#content {margin:0 auto;display:table;}

body {
   font-family:Tahoma,Verdana,Arial;
}
td {
   font-size: 11pt;
   /*font-family: arial;*/
   padding-bottom:5px;
   padding-top:5px;
}
th {
   /*font-family: arial;*/
}
input {
    font-size:11pt;
}
textarea {
    font-size:11pt;
    font-family: Tahoma, Verdana, Arial;
}
A:link {
   text-decoration: none;
   color: black;
}
A:visited {
   text-decoration: none;
   color: black;
}
A:hover	{
   color: red;
}
.mod {
   font-size: 11pt;
   color:red;
}
td.mod {
   padding-left:3px;
   vertical-align:top;
}
.rrow_child {
    font-size:11px;
}
td.rrow_child {
    text-align:left;
    vertical-align:top;
    padding-left:15px;
    text-decoration: underline;
}
.rrow {
   font-size: 12px;
}
table.rrow {
   border: solid 1px gray;
   /*border-radius: 5px;*/
}
td.rrow {
   /*border-bottom-style:solid;
   border-bottom-width:1px;
   border-bottom-color:black;*/
   padding-left:3px;
   padding-right:3px;
   vertical-align:top;
   padding-top:2px;
}
th.rrow {
   text-align:left;
   padding-left:3px;
   padding-right:3px;
   height:25px;
   border-bottom-style:solid;
   border-bottom-width:2px;
   border-bottom-color:black;
   /*border-top-style:solid;
   border-top-width:2px;
   border-top-color:black;*/
   background-color:#61A6D0;
}
.reptab {
   font-size:11px;
}
.reptab_child {
    font-size:11px;
}
td.reptab_child {
    padding-left:20px;
    text-decoration:underline;
}
th.reptab {
   text-align:left;
   padding-left:5px;
   padding-right:5px;
   border: 1px solid gray;
}
td.reptab {
   padding-left:10px;
   padding-right:5px;
}
.paging {
   width:900px;
   text-align:center;
   font-size:10px;
}
.color {
    font-size:5px;
    height:3px;
}
.butt {
   font-size:12pt;
   border-radius:5px;
}
input.butt {
   background-color:#61A6D0;
   color:black;
}
.task_admin {
   font-size:11pt;
}
td.task_admin {
   border-right-style:solid;
   border-right-width:1px;
   border-right-color:black;
   border-top-style:solid;
   border-top-width:1px;
   border-top-color:black;
}
th.task_admin {
   font-weight:300;
   text-align:left;
   font-size:11pt;
   border-right-style:solid;
   border-right-width:1px;
   border-right-color:black;
   border-top-style:solid;
   border-top-width:1px;
   border-top-color:black;
   color:DarkGray;
}
table.task_admin {
   border-left-style:solid;
   border-left-width:1px;
   border-left-color:black
}
.task_admin_head {
   font-size:14px;
   font-weight:700;
}
td.task_admin_head {
   border-right-style:solid;
   border-right-width:1px;
   border-right-color:black;
   border-top-style:solid;
   border-top-width:1px;
   border-top-color:black;
}

.task_user {
   font-size:11pt;
}
td.task_user {
   border-right-style:solid;
   border-right-width:1px;
   border-right-color:DarkGrey;
   border-top-style:solid;
   border-top-width:1px;
   border-top-color:DarkGrey;
   padding-left:5px;
   padding-right:5px;
}
th.task_user {
   font-weight:300;
   text-align:left;
   font-size:11pt;
   border-right-style:solid;
   border-right-width:1px;
   border-right-color:DarkGrey;
   border-top-style:solid;
   border-top-width:1px;
   border-top-color:DarkGrey;
   color:black;
   padding-left:5px;
}
.task_user_ur_round {
	
}
td.task_user_ur_round {
	border-top-right-radius: 5px;
	border-right-style:solid;
    border-right-width:1px;
    border-right-color:DarkGrey;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:DarkGrey;
    padding-left:5px;
    padding-right:5px;
}
.task_user_ul_round {
	
}
th.task_user_ul_round {
	border-top-left-radius: 5px;
	border-right-style:solid;
    border-right-width:1px;
    border-right-color:DarkGrey;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:DarkGrey;
    padding-left:5px;
    padding-right:5px;
}
table.task_user {
   border-left-style:solid;
   border-left-width:1px;
   border-left-color:DarkGrey;
   border-radius:5px;
}
.title {
    border-radius:5px;
    border: 1px solid black;
    font-size:14pt;
    text-align:left;
    padding-left:6px;
}
.title2 {
    background-color:black;
    border-radius:5px;
    border: 1px solid black;
}
.title3 {
    background-color: #61A6D0;
    border-radius:5px;
    border: 1px solid black;
}
.title4 {
    background-color: black;
    border-radius:5px;
    border: 1px solid black;
}
.title5 {
    background-color:#61A6D0;
    border-radius:5px;
    border: 1px solid black;
}