/* CSS Document */
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('myriadpe.eot');
	src: url('myriadpe.eot?#iefix') format('embedded-opentype'),
			 url('myriadpe.woff') format('woff'),
			 url('myriadpe.ttf') format('truetype'),
			 url('myriadpe.svg#myriadpe') format('svg');
	font-weight: normal;
	font-style: normal;
	}
body{
	padding:0px;
	margin:0px;
	background:url(../images/bg.gif) repeat-x top #d6d6d6;
	}
img{
	border:0px;
	}
#main{
	width:1167px;
	overflow:hidden;
	padding:13px 0px 0px 0px;
	margin:0px auto;
	}
#header{
	display:block;
	clear:both;
	overflow:hidden;
	padding:0px 17px 0px 17px;
	}
.clear{	
	display:block;
	clear:both;
	}
#logo{
	width:283px;
	overflow:hidden;
	float:left;
	padding-top:8px;
	}
.top_right{
	width:735px;
	overflow:hidden;
	float:right;
	}
.power{
	width:254px;
	float:right;
	overflow:hidden;
	text-align:left;
	margin-bottom:20px;
	}
.menu{
	height:35px;
	overflow:hidden;
	clear:both;
	border:2px solid #c2c2c2;
	-webkit-border-radius:12px;
    -moz-border-radius:12px;
	background:url(../images/menu.gif) repeat-x;
    border-radius:12px;
	margin-bottom:34px;
	}
.menu ul{
	padding:0px;
	margin:0px;
	list-style:none;
	}
.menu ul li{
	font-family: 'MyriadPro-Regular';
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	line-height:35px;
	display:block;
	float:left;
	padding:0px 0px 0px 0px;
	margin:0px;
	}
.menu ul li a{
	font-family: 'MyriadPro-Regular';
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	line-height:35px;
	display:block;
	float:left;
	padding:0px 18px 0px 18px;
	margin:0px;
	text-decoration:none;
	}
.menu ul li a:hover{
	text-decoration:underline;
	display:block;
	}
.quick_box{
	display:block;
	clear:both;
	overflow:hidden;
	}
.hide{
	/*width:294px;*/
	width:100%;
	float:left;
    overflow:hidden;
	padding-top:10px;
	font-family: 'MyriadPro-Regular';
	font-size:18px;
	text-align:left;
	color:#404d6c;
	font-weight:600;
	}
.quick_search{
	/*width:530px;*/
	width:100%;
	overflow:hidden;
	float:left;
	color:#404d6c;
	font-size:30px;
	text-align:left;
	font-family: 'MyriadPro-Regular';
	}
.quick_search input[type=text]{
	width:245px;
	/*padding:10px 0px 10px 8px;
	margin:0px 12px 0px 10px;*/
	margin-bottom:10px;
	border:1px solid #b8b8b8;
	font-size:14px;
	text-align:left;
	}
.quick_search input[type=image]{
	width:70px;
	height:31px;
	background:none;
	font-size:0px;
	border:0px;
	cursor:pointer;
	margin:0px 0px 0px 0px;
	vertical-align:middle
	}
#container{
	display:block;
	clear:both;
	padding:13px 0px 0px 0px;
	margin:5px 10px 30px 10px;
	background:#d8d8d7;
	border:1px solid #a8a8a8;
	-moz-box-shadow: 0 0 10px #888;
	-webkit-box-shadow: 0 0 10px#888;
	box-shadow: 0 0 10px #888;
	-webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
	}
.table1{
	padding:0px;
	margin:0px;
	border:0px;
}
.table1 th{
	background:#404d6c;
	font-family: 'MyriadPro-Regular';
	font-size:18px;
	text-align:center;
	line-height:39px;
	color:#FFFFFF;
	font-weight:normal;
	}
.table1 .color td{
	border-right:1px solid #fff;
	height:12px;
	}
.table1 .color td.last{
	border-right:0px;
	}
.table1 .text td{
	font-size:15px;
	text-align:center;
	color:#4c4c4c;
	line-height:36px;
	background:#eeeeee;
	font-family: 'MyriadPro-Regular';
	}
.table1 .text td img{
	vertical-align:middle;
	}
.table1 .text td a{
	font-size:15px;
	text-align:center;
	color:#4c4c4c;
	text-decoration:none;
	}
.table1 .text td a:hover{
	color:#0d74be;
	}
.table1 .pagination td{
	border-right:1px solid #fff;
	font-family: 'MyriadPro-Regular';
	text-align:center;
	color:#051890;
	line-height:38px;
	}
.table1 .pagination td a{
	font-family: 'MyriadPro-Regular';
	text-align:center;
	color:#051890;
	text-decoration:none;
	}
.table1 .pagination td a:hover{
	text-decoration:underline;
	}
.table1 .pagination td.last{
	border-right:0px;
	}
.footer{
	display:block;
	clear:both;
	height:62px;
	background:url(../images/footer.gif) repeat-x;
	border:1px solid #6ca0c6;
	-webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
	margin-bottom:25px;
	}
.footer_links{
	width:752px;
	overflow:hidden;
	float:left;
	font-family: 'MyriadPro-Regular';
	text-align:left;
	color:#242e46;
	font-size:16px;
	line-height:62px;
	}
.footer_links a{
	font-family: 'MyriadPro-Regular';
	text-align:left;
	color:#242e46;
	font-size:16px;
	text-decoration:none;
	padding:0px 20px 0px 20px;
	}
.footer_links a:hover{
	text-decoration:underline;
	}
.copy_right{
	width:336px;
	height:40px;
	float:right;
	background:url(../images/copy_right.png) no-repeat 0px 0px;
	font-family: 'MyriadPro-Regular';
	text-align:left;
	color:#404d6c;
	font-size:16px;
	padding-left:45px;
	line-height:40px;
	margin-top:11px;
}
.butt {
    background-color:#404d6c;
    color:white;
    font-family: 'MyriadPro-Regular';
    border-radius:7px;
    padding-top:7px;
    padding-bottom:5px;
}
input {
    border-radius:3px;
    margin-top:3px;
    margin-bottom:3px;
    padding-top:3px;
    padding-bottom:3px;
}
body {
    font-family: 'MyriadPro-Regular';
}

.task_user {
   font-size:11pt;
}
td.task_user {
   border-right-style:solid;
   border-right-width:1px;
   border-right-color:DarkGrey;
   border-top-style:solid;
   border-top-width:1px;
   border-top-color:DarkGrey;
   padding-left:5px;
   padding-right:5px;
}
th.task_user {
   font-weight:300;
   text-align:left;
   font-size:11pt;
   border-right-style:solid;
   border-right-width:1px;
   border-right-color:DarkGrey;
   border-top-style:solid;
   border-top-width:1px;
   border-top-color:DarkGrey;
   color:black;
   padding-left:5px;
}
.task_user_ur_round {
	
}
td.task_user_ur_round {
	border-top-right-radius: 5px;
	border-right-style:solid;
    border-right-width:1px;
    border-right-color:DarkGrey;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:DarkGrey;
    padding-left:5px;
    padding-right:5px;
}
.task_user_ul_round {
	
}
th.task_user_ul_round {
	border-top-left-radius: 5px;
	border-right-style:solid;
    border-right-width:1px;
    border-right-color:DarkGrey;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:DarkGrey;
    padding-left:5px;
    padding-right:5px;
}
table.task_user {
   border-left-style:solid;
   border-left-width:1px;
   border-left-color:DarkGrey;
   border-radius:5px;
}

.task_admin {
   font-size:11pt;
}
td.task_admin {
   border-right-style:solid;
   border-right-width:1px;
   border-right-color:black;
   border-top-style:solid;
   border-top-width:1px;
   border-top-color:black;
}
th.task_admin {
   font-weight:300;
   text-align:left;
   font-size:11pt;
   border-right-style:solid;
   border-right-width:1px;
   border-right-color:black;
   border-top-style:solid;
   border-top-width:1px;
   border-top-color:black;
   color:DarkGray;
}
table.task_admin {
   border-left-style:solid;
   border-left-width:1px;
   border-left-color:black
}
.task_admin_head {
   font-size:14px;
   font-weight:700;
}
td.task_admin_head {
   border-right-style:solid;
   border-right-width:1px;
   border-right-color:black;
   border-top-style:solid;
   border-top-width:1px;
   border-top-color:black;
}