                </div>
			<!--container end-->
            <!--footer start-->
				<div class="footer">
					<div class="footer_links"><a href="/">HOME</a><a href="newrequest.asp">Submit</a><a href="#">Search</a><a href="watches.asp">My Watches</a><a href="reports.asp">Reports</a><a href="options.asp">Options</a><a href="about.asp">About</a><a href="download.asp">Download</a></div>
					<div class="copy_right"> Copyright @ Bugdemon.com All Rights Reserved</div>
				</div>
			<!--footer end-->
		</div>
	<!--main end-->
</body>
</html>
