<%
script = Request.ServerVariables("SCRIPT_NAME")
startpage = Request.Cookies("StartPage")
if startpage = "" then
   startpage = "trackmain.asp"
end if

%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=coName%>&nbsp;<%=appName%>: <%=pagetitle%></title>
<link href="/themes/2013/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<!--main start-->
		<div id="main">
			<!--header start-->
				<div id="header">
					<div id="logo"><a href="#"><img src="/themes/2013/images/logo.png" /></a></div>
					<div class="top_right">
						<div class="power"><a href="#"><img src="/themes/2013/images/bugdemon.png" /></a></div>
						<div class="menu">
							<ul>
								<li><a href="trackmain.asp">HOME</a></li>                
								<li><a href="newrequest.asp">Submit</a></li>                 
								<li><a href="#">Search </a></li>               
								<li><a href="watches.asp">My Watches </a></li>              
								<li><a href="reports.asp">Reports</a></li>                  
								<li><a href="options.asp">Options </a></li>
								<!--            
								<li><a href="about.asp">About</a></li>             
								<li><a href="download.asp">Download</a></li>
								-->
								<li><a href="help.asp">Help</a></li>
								<%if userid = "" then  %>
								    <li><a href="logon.asp">Login</a></li>
								<% else %>
								    <li><a href="logout.asp">Logout</a></li>
								<% end if %>
							</ul>
						</div>
					</div>
					<!--
					<div class="clear">test</div>
					-->
					<div class="quick_search">
					    <form action="list.asp" name="search" method="POST">
                            Quick Search&nbsp;<input name="term" type="text" /> <input type="image" src="/themes/2013/images/go.png" onclick="return Search();" />
					    </form>
                    </div>
					<% if script = "/trackmain.asp" then %>
					<div class="hide">
					    <form name="options">
					        <input name="hidecomp" type="checkbox" value="" onclick="DoComp();" <%if comp = 1 then%>checked<%end if%>/>Hide Completed Requests
					        <div style="padding-left:50px;display:inline;">&nbsp;</div>
					        <select name="fltrPriority" id="fltrPriority" class="fltr" onchange="Filter(this.name,this.value);">
                                <option value="">Filter By Priority</option>
                                <%
                                for i = 0 to ubound(arryPriority,2)
                                    Response.Write("<option value=" & chr(34) & arryPriority(0,i) & chr(34) & " ")
                                    if fltrval = arryPriority(0,i) then
                                        Response.Write("selected")
                                    end if
                                    Response.Write(">" & arryPriority(1,i) & "</option>" & chr(10) & chr(13))
                                next                
                                %>
                            </select>
                            <select name="fltrStatus" id="fltrStatus" class="fltr" onchange="Filter(this.name,this.value);">
                                <option value="">Filter By Status</option>
                                <%
                                    for i = 0 to ubound(arryStatus,2)
                                        Response.Write("<option value=" & chr(34) & arryStatus(0,i) & chr(34) & " ")
                                        if fltrval = arryStatus(0,i) then
                                            Response.Write("selected")
                                        end if
                                        Response.Write(">" & arryStatus(0,i) & "</option>" & chr(10) & chr(13))
                                    next                
                                %>
                            </select>
                            <select name="fltrProduct" id="fltrProduct" class="fltr" onchange="Filter(this.name,this.value);">
                                <option value="">Filter By Product</option>
                                <%
                                for i = 0 to ubound(arryProducts,2)
                                    Response.Write("<option value=" & chr(34) & arryProducts(0,i) & chr(34) & " ")
                                    if fltrval = arryProducts(0,i) then
                                        Response.Write("selected")
                                    end if
                                    Response.Write(">" & arryProducts(0,i) & "</option>" & chr(10) & chr(13))
                                next                
                                %>
                            </select>               
                            <select name="fltrEnteredBy" id="fltrEnteredBy" class="fltr" onchange="Filter(this.name,this.value);">
                                <option value="">Filter By Owner</option>
                                <%
                                for i = 0 to ubound(arryUsers,2)
                                    Response.Write("<option value=" & chr(34) & arryUsers(0,i) & chr(34) & " ")
                                    if fltrval = arryUsers(0,i) then
                                        Response.Write("selected")
                                    end if
                                    if Len(arryUsers(0,i)) > 20 then
                                        arryUsers(0,i) = Left(arryUsers(0,i),20) & "..."
                                    end if
                                    Response.Write(">" & arryUsers(0,i) & "</option>" & chr(10) & chr(13))
                                next         
                                %>
                            </select>
					    </form>
                    </div>
                    <% end if %>
				</div>	
			<!--header end-->	
			<!--container start-->
				<div id="container">